<!-- searchResults.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>id</th>
            

            
        </tr>
        <% workers.forEach(worker => { %>
            <tr>
                <td><%= worker.name %></td>
                <td><%= worker.id %></td>
              
                
               
            </tr>
        <% }); %>
    </table>
</body>
</html>
