<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="ustyle.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generate Unique ID</title>
</head>
<body>
  <form id="personForm" action="/login" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <button type="submit">Submit</button>
  </form>

  <script src="uscript.js"></script>
</body>
</html>
